@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/logo-loop.css";

html, body, #root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--color-page);
}
